/* ----------- general page layout -----------*/

body
{
  font-family:helvetica,arial,sans-serif;
  padding:0px;
  margin:0px;
  margin-right:1%;
}


/* --------- end general page layout ---------*/


/* --------------- table header --------------*/

/*bounding table*/
table.QA
{
  border:2px solid black;
  border-collapse:collapse;
  border-spacing:0px;
  width:99%;
  padding:0px;
  margin-left:1%;
  margin-bottom:33px;
  margin-top:1%;
}


tr.QAHeader
{
  background-color:#c9d8e5;
  margin:0px;
  padding:0px;
}

th.QAHeader
{ 
  border-right:1px solid black;
  font-size:20px;
}

tr.QASummary
{
  background-color:#c9d8e5;
  margin:0px;
  padding:0px;
  border-bottom:2px dotted black;
  text-align:center;
}

th.QASummary
{ 
  width:10%;
  border-right:1px solid black;
}

td.QASummary
{ 
  max-width:310px;
  border-right:1px solid black;
}


div.QASumButton
{  
  color:#05006d;
  margin:10px 20px;
  padding:5px 0px;
}

div.QASumButton:hover
{ 
  color: #76ade0;
}

img.QASummary
{
  background-color:transparent;
  margin:20px 0px;
  padding:3px;
  display:none;
  
}
img.QASummary:hover
{
  background-color:#76ade0;
}


tr.QAFrameHeaderOdd
{
  background-color:#a8ccee;
  padding:0px;
  margin:0px;
}

tr.QAFrameHeaderEven
{
  background-color:#c9d8e5;
  padding:0px;
  margin:0px;
}

th.QAFrameHeader
{ 
  border-right:1px solid black;
  font-size:16px;
  width:10%;
}

td.QASumAggr
{ 
  border-left:1px solid black;
}

td.QADetAggr
{ 
  border-left:0px dotted white;
  margin:0px;
  padding:0px;
  width:0px;
}

td.QASumGraph
{ 
  border-left:1px solid black;
}

td.QADetGraph
{ 
  border-left:0px dotted white;
  margin:0px;
  padding:0px;
  width:0px;
}

div.QAFrameButton
{  
  color:#05006d;
  margin:15px 10px;
  padding:0px;
  width:20px;
  height:20px;
}

div.QAFrameButton:hover
{ 
  outline: 3px solid #76ade0;
}


div.QADetButton
{  
  margin:3px 7px;
  padding:2px;
  display:none;
  font-size:10px;
}

div.QADetButton:hover
{ 
  background-color:#76ade0;
}


img.QASumGraph
{ 
  margin:5px;
  padding:3px;
  display:none;
  
}

img.QASumGraph:hover
{
  background-color:#76ade0;
}

img.QADetGraph
{
  margin:5px;
  padding:3px;
  display:none;
}

img.QADetGraph:hover
{
  background-color:#76ade0;
}

div.QADetTrigger
{
  color:#05006d;
  margin-left:3px;
  float:left;
  position:relative;
  top:-38px;
  font-size:20px;
  font-weight:bold;
  z-index:10;
}

div.QADetTrigger:hover
{
  color:#76ade0;
}

span.QAPages
{
  color:#05006d;
  padding:5px 8px;
}

span.QAPages:hover
{
  color:#76ade0;
}

div.QAPagesTile
{  
  border-top:2px solid black;
  position:fixed;
  bottom:0px;
  margin-left:1%;
  margin-right:1%;
  margin:0px;
  padding-left:20px;
 /*  padding-bottom:15px; */
  padding-top:3px;
  font-weight:bold;
  font-size:15px;
  background-color:white;
  width:100%;
  height:30px;
}




/* ------------- end table header -------------*/







/* --------------- aggregators ----------------*/

/*binary aggregtor*/
img.QABinAggr
{
  border-style:none;
  padding:0px;
  margin:0px;
}

/*range aggregtor*/
table.QARangeAggr
{
  width:40px;
  height:10px;
  border:1px solid black; 
  border-spacing:0px;
  padding:1px; 
  margin:2px
}

/*range aggregtor*/
td.QARangeAggr
{
  height:10px;
  padding:0px;
  margin:0px;
}

/*range aggregtor*/
td.QARangeAggrPass
{
  height:10px;
  background-color:green; 
  padding:0px;
  margin:0px;
}

/*range aggregtor*/
td.QARangeAggrFail
{
  height:10px;
  background-color:red; 
  padding:0px;
  margin:0px;
}


